.wrapper {
    max-width: 692px;
    margin: 0 auto;
}

.header-video {
    display: flex;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50px;
    object-fit: cover;
    cursor: pointer;
}

.item-info {
    flex: 1;

    .post-info {
        margin-left: 12px;

        .nickname {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 24px;
            margin-right: 4px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            .check {
                margin-left: 4px;
                font-size: 1.4rem;
                color: #20d5ec;
            }
        }

        .username {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 28px;
        }
    }

    .description,
    .music {
        margin-left: 12px;
    }

    .description {
        font-weight: 400;
        fill: rgb(22, 24, 35);
    }

    .music {
        .music-name {
            margin-left: 4px;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.btn-follow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    min-width: 96px;
    margin-top: 8px;
    border-radius: 2px !important;
    padding-inline: 15px;
    height: 36px;
    font-weight: 600 !important;
}

.container {
    flex: 1;
    margin-left: 12px;
}

.video-items {
    display: flex;
    align-items: flex-start;
    min-width: 100%;
    padding: 10px 0;
    border-top: 1px solid rgba(22, 24, 35, 0.2);
}

// .video-items + .video-items {
//     border-top: 1px solid rgba(22, 24, 35, 0.2);
// }

.main-video {
    position: relative;
    display: flex;
    gap: 20px;
    height: auto;
    margin: 18px 68px;
}
